@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    background-color:  #1B3832;
    height: 100%;
}
header{
    position: relative;
    text-align: center;
    width: 100%;
}
h1 {
    margin: 2rem;
    align-items: center;
    color: #fff;
    text-decoration: underline;
}

.calculadora {
    position: absolute;
    background-color: #72AD88;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28rem;
    width: 18rem;
    border: 2px solid #081C1C ;
    z-index: 1;
}
.cabeçario-calculadora{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.cabeçalho-h2 {
    padding: 0.5rem;
}
.box-number{
    height: 30px;
    padding: 1rem 2rem;
    margin: 0.7rem;
    border-radius: 10px;
    border: 2px solid #873753;
}
.box-reset{
    height: 2rem;
    width: 2rem;
    margin: 0.7rem;
    border-radius: 10px;
    border: 2px solid #873753;
    padding: 0.5rem;
    background-color: #94538A;
}
.box-colection-number {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.box-number-input {
    width: 4rem;
    height: 4rem;
    background-color: #387D78;
    margin: 1px;
    font-size: 1.3rem;
}
.box-operator-input {
    width: 4rem;
    height: 4rem;
    margin: 1px;
    font-size: 1.5rem;
    background-color: #873753;
}
.box-operator-input:nth-child(1){
    font-size: 3rem;
    padding-bottom: 2rem;
}
.box-reset:hover{
    background-color: #6E3D50;
    cursor: pointer;
}
.box-number-input:hover{
    background-color: #0E5D6E;
    cursor: pointer;
}
.box-operator-input:hover{
    background-color: #7A3532;
    cursor: pointer;
}
.ondassvg {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.onda-1 {
    animation: move1 5s ease-in-out infinite alternate;
}
@keyframes move1 {
    from {
        transform: translateX(500px);
    }
}
.onda-2{
    animation: move2 4s ease-in-out infinite alternate;
}
@keyframes move2 {
    from{
        transform: translateX(600px);
    }
}
.onda-3{
    animation: move3 3s ease-in-out 1.2s infinite alternate;
}
@keyframes move3 {
    from{
        transform: translateX(100px);
    }
}